/* SITE-INDEX STYLES */

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background: red;
    height: 430px;
    width: 1050px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
  .index-header{
background: purple;
  }

  .site-index {
    float: left;
    clear: both;
  }
  
  .site-index div {
    display: inline-block;
    /* display: flex; */
    float: left;
    width: 165px;
    background: yellow;
    height: 313px;
    /* height: 313px;
    height: 420px;
    clear: both;
    margin-left: 80px;
    margin-right: auto;
    margin-left: auto; 
    padding: 0; */
    order: 1;
  }
  
  .site-index span {
    font-weight: bolder;
    /* position: 704px 11148px; */
    background: pink;
    /* margin-right: -423px; */
    padding-left: 40px;
  }
  #living-span{
  padding-left: 0px;
  }
  
  li {
    font-family: arial;
    font-size: 14px;
    margin-bottom: 8px;
    color: black;
    line-height: 16px;
    font-weight: lighter;
    list-style-type: none;
    /* width: 197px;
    height: 24px;
    margin:0;
    padding: 0; */
    background: orange;
  }
  
  li:hover {
    text-decoration: underline;
  }
  
  ul {
    margin-top: 14px;
  }
  
  /*SUBSCRIPTION FOOTER STYLES*/
  
  .subscription-footer {
    /* float: right;
    clear: both; */
    border-left: 1px solid grey;
    height: 390px;
    padding-right: 27px;
    background: blue;
    /* margin-left:-100px;
    margin-top: -30px; */
    order: 2;
    /* display: inline; */
  }
  
  .subscription-footer span {
    font-weight: bolder;
    height: 25px;
    width: 150px;
    padding-top:10px;
  }
  
  .subscription-footer li {
    width: 165px;
    margin-left: -40px;
  }
  
  .top-subscribe {
    height: 123px;
    width: 197px;
  }
  
  .bottom-subscribe {
    height: 46px;
    width: 187px;
    padding-top: 10px;
    border-top: 1px solid black;
    margin-top: 2px;
  }
  
  /*FOOTER STYLES*/
  
  footer {
    display: block;
    /* background: yellow; */
    width: 100%;
  }
  
  footer ul {
    /* background: pink; */
    margin-right: 18%;
    margin-left: 20%;
    border-top: solid 1px #999;
  }
  
  .ny-footer li {
    list-style-type: none;
    display: inline-block;
    color: #999999;
    text-align: center;
    font-family: 'Libre Franklin', 'sans-serif';
    font-size: 11px;
    background: green;
    margin-right: 4px;
    margin-left: 4px;
  }